# Linguagens principais
*.sql   linguist-language=SQL
*.dax   linguist-language=DAX
*.m     linguist-language=M

# Ignorar arquivos HTML, se houver muitos, para não dominar as estatísticas
*.html  linguist-vendored
